<head>
    <meta charset="UTF-8">
    <title>Startup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="msapplication-TileColor" content="#E6E6FA">
    <meta name="msapplication-TileImage" content="S">
    <meta name="theme-color" content="#E6E6FA">


    <noscript>
        <link rel="stylesheet" href="assets/styles/main.css">
    </noscript>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">




</head>